# Archivos compilados / binarios
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Carpetas de compilación
/bin/
vendor/

# Archivos de entorno (credenciales / configs sensibles)
.env
.env.*
!.env.example   # <- si quieres dejar un ejemplo vacío

# Archivos temporales
*.log
*.tmp

# Configuración de editores
.vscode/
.idea/
